h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: aqua;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('resimler/arkplan.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.menu-category {
  margin: 30px 0;
}

.menu-category h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  width: 200px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-item h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.menu-item p {
  font-size: 16px;
  color: #555;
}

.menu-item .price {
  font-weight: bold;
  color: #d9534f;
}


a {
  text-decoration: none;  
  color: inherit;         
  cursor: pointer;       
}

a:hover {
  color: #007bff;        
  text-decoration: underline; 
}

img {
  max-width:100%;
  height: auto;
  }